<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510150182089-aeuuks59hp8bnjc1li4trig64aqvnrtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510150182089-aeuuks59hp8bnjc1li4trig64aqvnrtu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510150182089-suv4j0mr5394qmurhvho1hvsss75gpho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBd-Oq_zhzRPll0feGaLb5sopGo_PAp0XM</string>
	<key>GCM_SENDER_ID</key>
	<string>510150182089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swipenewz.com</string>
	<key>PROJECT_ID</key>
	<string>swipenewz-b87d3</string>
	<key>STORAGE_BUCKET</key>
	<string>swipenewz-b87d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510150182089:ios:14ddbd99a8127388a4f918</string>
</dict>
</plist>