@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
    font-family: 'Inter', sans-serif;
    padding:0;
}

::-webkit-scrollbar {
    width: 0;
  }